.form-group{
    margin-bottom: 30px;
}
.form-group .help-block{
    position: absolute;
}

.form-group .btn-group ul{
    background-color: #f7f7f7;
    list-style: none;
    border-top: 1px solid #ddd;
    padding-bottom: 20px;
}
.form-group .btn-group ul li{
    background-color: #f7f7f7;
    list-style: none;
    color: #333;
    font-weight: normal;
    font-size: 15px;
    padding: 7px 15px;
    cursor: pointer;
    border-left: 2px solid deepskyblue;
}
.form-group .btn-group .optionGroup{
    padding-left: 20px;
    padding: 0;
}

.btn-group.open .btn-select-location,
.btn-select-location:active,
.btn-select-location:focus,
.btn-select-location:hover,
.btn-select-location{
    background-color: snow;
    border-radius: 0px;
    box-shadow: none;
    text-align: left;
}
.box-default {
    border-top-color: #d2d6de;
    border-top: 1px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.organization-widget {
    padding: 12px;
    font-size: 14px;
}

span.err-text {
    right: 15px;
    position: absolute;
    top: 0;
    font-size: 12px;
    color: red;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
